body {
  background: #fff;
  min-width: 350px;
  font-family: sans-serif;
  color: #333333;
  font-size: 12px;
  line-height: 21px;
}
h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 12px;
}
h1 img {
  vertical-align: middle;
}
label {
  display: block;
}
.note {
  color: #999;
  font-size: 9.600000000000001px;
}
#shortenedUrl,
#associateId {
  width: 100%;
}
#shortenedUrl {
  width: 100%;
  padding: 12px;
  font-size: 21px;
}
#error,
#success {
  display: none;
}
#error {
  background: #FFF2BF;
  padding: 12px;
}
#error p {
  margin: 0;
}
.isSuccess #success,
.isError #error {
  display: block;
}
